.bg-container {
    position: relative;
  }
  
  .blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/src/img/bg.jpg');
    background-size: cover;
    filter: blur(1.5px); /* Adjust the blur value as per your preference */
    z-index: -1;
  }
  
  .content-container {
    position: relative;
    z-index: 1;
    justify-content: center;
  }
  